language: csharp
branches:
  only:
    - master
solution: src/Cassandra.sln
install:
  - nuget restore src/Cassandra.sln
  - nuget install NUnit.Runners -Version 2.6.4 -OutputDirectory testrunner
script:
  - xbuild /p:Configuration=Release /v:m /p:restorepackages=false src/Cassandra.sln
  - mono ./testrunner/NUnit.Runners.2.6.4/tools/nunit-console.exe ./src/Cassandra.Tests/bin/Release/Cassandra.Tests.dll