language: csharp
sudo: required
mono: none
dotnet: 2.1.101
dist: trusty

branches:
  except:
    - 1.0
    - 2.0
    - 2.1
    - dse_3.1

script:
  - dotnet restore src
  - dotnet test src/Dse.Test.Unit/Dse.Test.Unit.csproj -c Release -f netcoreapp2.0
