language: csharp
sudo: required
mono: none
dist: xenial
  
branches:
  except:
    - 1.0
    - 2.0
    - 2.1
    - dse_3.1

matrix:
  include:
    - dotnet: 2.2.204
      env: TARGETF="netcoreapp2.1" BUILD_EXAMPLES="1" BuildCoreOnly=True NETCORE_RUNTIME="2.1"
    - dotnet: 2.1.804
      env: TARGETF="netcoreapp2.0" BUILD_EXAMPLES="0" BuildCoreOnly=True NETCORE_RUNTIME="2.0"
      

script:
  - dotnet --info
  - |
    if [ "${BUILD_EXAMPLES}" == "1" ]
    then
        dotnet restore examples
        dotnet build --no-restore examples/examples.sln -c Release
    fi
  - dotnet restore src
  - dotnet build src/Cassandra.Tests/Cassandra.Tests.csproj --no-restore -c Release
  - dotnet test src/Cassandra.Tests/Cassandra.Tests.csproj --no-restore --no-build -v n -c Release -f $TARGETF
