language: csharp
sudo: false
branches:
  except:
    - 1.0
    - 2.0
    - 2.1
    - dse_3.1
solution: src/Cassandra.sln
install:
  - nuget restore src/Cassandra.sln
  - nuget install NUnit.Runners -Version 2.6.4 -OutputDirectory testrunner
script:
  - xbuild /p:Configuration=Release /v:m /p:restorepackages=false src/Cassandra.sln
  - mono ./testrunner/NUnit.Runners.2.6.4/tools/nunit-console.exe ./src/Cassandra.Tests/bin/Release/Cassandra.Tests.dll