version: "{branch}-{build}"
skip_tags: true
shallow_clone: true
cache:
  - C:\ProgramData\chocolatey\bin -> appveyor_install.ps1                                                                             
  - C:\ProgramData\chocolatey\lib -> appveyor_install.ps1
  - C:\Users\appveyor\.ccm\repository -> appveyor_install.ps1
  - C:\Users\appveyor\deps -> appveyor_install.ps1
  - C:\Users\appveyor\ccm -> appveyor_install.ps1
os: Visual Studio 2015
platform:
  - Any CPU
configuration:
  - Release
environment:
  NUNIT_PATH: nunit-console
  matrix:
    - CASSANDRA_VERSION: 3.7

    - CASSANDRA_VERSION: 2.2.5

install:
  - ps: .\appveyor_install.ps1

build:
  project: src/Cassandra.sln
  verbosity: minimal

test:
  assemblies:
    - src/Cassandra.Tests/bin/$(configuration)/Cassandra.Tests.dll
    - src/Cassandra.IntegrationTests/bin/$(configuration)/Cassandra.IntegrationTests.dll

  categories:
    except:
      - long
      - duration

on_failure:
  - ps: >-
      Write-Host "Build failed"