version: "{branch}-{build}"
skip_tags: true
shallow_clone: true
cache:
  - C:\ProgramData\chocolatey\bin -> .\build\appveyor_install.ps1                                                                             
  - C:\ProgramData\chocolatey\lib -> .\build\appveyor_install.ps1
  - C:\Users\appveyor\.ccm\repository -> .\build\appveyor_install.ps1
  - C:\Users\appveyor\deps -> .\build\appveyor_install.ps1
image: Visual Studio 2017
environment:
  NUNIT_PATH: nunit3-console
  matrix:
    - TARGET: net452
      CI_TYPE: UNIT
      PROJECT: Cassandra.Tests
    - TARGET: netcoreapp1.0
      CI_TYPE: UNIT
      PROJECT: Cassandra.Tests
    - TARGET: net452
      CASSANDRA_VERSION: 3.10
      CI_TYPE: INTEGRATION
      PROJECT: Cassandra.IntegrationTests
    - TARGET: netcoreapp1.0
      CASSANDRA_VERSION: 3.10
      CI_TYPE: INTEGRATION
      PROJECT: Cassandra.IntegrationTests
    - TARGET: net452
      CASSANDRA_VERSION: 2.2.7
      CI_TYPE: INTEGRATION
      PROJECT: Cassandra.IntegrationTests
    - TARGET: net452
      CASSANDRA_VERSION: 3.10
      CI_TYPE: MEMORY

install:
  - ps: .\build\appveyor_install.ps1
  - ps: .\build\scassandra_install.ps1

build_script:
  - ps: dotnet restore src
  - ps: dotnet build src\Cassandra.sln -c Release

test_script:
  - ps: >-
      If ("$($env:CI_TYPE)" -ne "MEMORY") {
        dotnet test src\${env:PROJECT}\${env:PROJECT}.csproj -c Release -f $env:TARGET
      }
      Else {
        .\build\memory_tests.ps1
      }
on_failure:
  - ps: >-
      Write-Host "Build failed"
