<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DseInRemoteServer" value="true"/>
    <add key="DseInstallPath" value="/tmp/dse-5.0.0"/>
    <add key="DseServerIp" value="127.0.0.1"/>
    <add key="DseServerUser" value="vagrant"/>
    <add key="DseServerPwd" value="vagrant"/>
    <add key="DseServerPort" value="2222"/>
  </appSettings>
</configuration>