<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CassandraCSharpDriver" version="3.0.1" targetFramework="net40" />
  <package id="lz4net" version="1.0.5.93" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net40" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="SSH.NET" version="2013.4.7" targetFramework="net40" />
</packages>