<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cassandra.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Cassandra.Properties.Settings>
            <setting name="CASSANDRA_DIR" serializeAs="String">
                <value />
            </setting>
            <setting name="CASSANDRA_VERSION" serializeAs="String">
                <value>1.2.4</value>
            </setting>
            <setting name="IP_PREFIX" serializeAs="String">
                <value>127.0.0.</value>
            </setting>
            <setting name="SSH_HOST" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="SSH_PORT" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="SSH_USERNAME" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="SSH_PASSWORD" serializeAs="String">
                <value>passwd</value>
            </setting>
        </Cassandra.Properties.Settings>
    </userSettings>
</configuration>