<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TestRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="TestRunner.Properties.Settings.CassandraConnectionString"
        connectionString="Servers=137.116.194.96:9042" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <TestRunner.Properties.Settings>
            <setting name="CassandraServer" serializeAs="String">
                <value>137.116.194.96:9042</value>
            </setting>
            <setting name="TestFolder" serializeAs="String">
                <value>$TEST_ROOT/TestResults</value>
            </setting>
        </TestRunner.Properties.Settings>
    </userSettings>
  <system.data>
    <DbProviderFactories>
      <add name="Cassandra Provider" invariant="CassandraProvider" description="Cassandra Provider" type="Cassandra.Data.CqlProviderFactoryEx, Cassandra.Data.Linq, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </DbProviderFactories>
  </system.data>
</configuration>
