<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- A contact point for the C* cluster.  Change this if running tests against anything other than localhost -->
    <add key="clusterContactPoint" value="127.0.0.1"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
