<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CassandraCSharpDriver" version="2.0.3" targetFramework="net45" />
  <package id="FluentAssertions" version="3.0.107" targetFramework="net451" />
  <package id="lz4net" version="1.0.3.93" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
</packages>