<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CassandraVersion" value="2.0.6"/>
    <add key="NoUseBuffering" value="false"/>
    <add key="IpPrefix" value="192.168.13."/>
    <add key="SSHHost" value="192.168.13.1"/>
    <add key="SSHUser" value="user"/>
    <add key="SSHPassword" value="password"/>
    <add key="SSHPort" value="22"/>
  </appSettings>
</configuration>