<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net4" requireReinstallation="true" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net4" />
  <package id="NUnit" version="2.6.3" targetFramework="net4" />
  <package id="SSH.NET" version="2014.4.6-beta2" targetFramework="net4" />
</packages>